USE [test]
GO
/****** Object:  Table [dbo].[abc]    Script Date: 03-06-2018 00:52:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[abc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TableName] [varchar](30) NULL
) ON [PRIMARY]
GO
